.auth-forms {
	margin-top: 200px;
	width: 400px;
	margin: 120px auto 0 auto;

	input {
		margin: 10px 0;
		border: 2px solid #23627F;
		border-radius: 1px;
		background-color: #2b2b2b;
		color: white;

		&.submit {
			background-color: #23627F;
		}
	}

	input.btn {
		width: 100%;
	}
}

.active-form {
	background-color: black;
	padding: 15px;
	border-radius: 5px;
	border: 2px solid #23627F;
}

.inactive-form {
	display: none;
}

.auth-tabs {
	list-style-type: none;
	margin: 0;
	
	li {
		display: inline-block;
		padding: 10px;
		background-color: #d3d3d3;
		-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
  		-ms-user-select: none;
   	user-select: none;
   	cursor: pointer;
   	border-top-left-radius: 2px;
		border-top-right-radius: 2px;	

   	&.active {
   		background-color: #23627F;
   		color: white;
   	}
	}
}