.sign-out-btn {
	position: fixed;
	right: 10px;
	top: 10px;
	display: none;
}

.menu-btn {
	border-radius:50%;
  	top:15px;
  	left:15px;
 	position:fixed;
 	display:block;
  	width:60px;
  	height:60px;
  	background-color:transparent;
  	z-index:20;
  	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.home-menu-btn {
	width:80%;
	height:80%;
	border-radius:50%;
	position:absolute;
	color:white;
	text-align:center;
	line-height:70px;
   top:10%;
	left:10%;
	z-index:19;
	transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1);
   position:absolute;
}
.auth-menu-btn {
	width:80%;
	height:80%;
	border-radius:50%;
	position:absolute;
	color:white;
	text-align:center;
	line-height:70px;
   top:10%;
	left:10%;
	z-index:19;
	transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1) .2s;
}
.stats-menu-btn {
	width:80%;
	height:80%;
 	border-radius:50%;
 	position:absolute;
	color:white;
 	text-align:center;
 	line-height:70px;
   top:10%;
 	left:10%;
 	transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1) .4s;  
}

  .bucketlist-menu-btn {
  	width:80%;
  	height:80%;
  	border-radius:50%;
  	position:absolute;
  	color:white;
  	text-align:center;
  	line-height:70px;
  	top:10%;
  	left:10%;
	transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1) .6s;  
}
.mask2 {

  	text-align:center;
  	line-height:120px;
  	cursor:pointer;
  	position:fixed;
}

#mask2 {
	font-size: 10px;
	color:white;
	z-index:21;
	background-color: #23627F;
	width: 60px;
	height: 60px;
	display: inline;
	position: absolute;
	top: 0px;
	left: 0;
	// transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1) .6s; 

	i {
		vertical-align: middle;
		display: inline;
		position: relative;
		top: -30px;
		font-size: 25px;
	}
}

.menu-item {
	font-size: 25px;
	background-color: #47C4FF;
	margin-bottom: 10px;
	border-radius: 50%;

	i {
		vertical-align: middle;
		display: inline;
		position: relative;
		top: -13px;
	}
}