.tasks {
	margin-top: 200px;
	width: 400px;
	margin: 120px auto 0 auto;
}

.get-tasks-btn {
	position: fixed;
	right: 100px;
	top: 10px;
};

.task-tabs {
	list-style-type: none;
	margin: 0;

	li {
		display: inline-block;
		padding: 10px;
		background-color: #23627F;
		-moz-user-select: -moz-none;
   	-khtml-user-select: none;
   	-webkit-user-select: none;
  		-ms-user-select: none;
   	user-select: none;
   	cursor: pointer;
   	border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		color: white;
	}
}

div.create-task-form-div {
	background-color: black;
	padding: 15px;
	border-radius: 5px;
	border: 2px solid #23627F;

	input {
		margin: 10px 0;
		border: 2px solid #23627F;
		border-radius: 1px;
		background-color: #2b2b2b;
		color: white;

		&.submit {
			background-color: #23627F;
		}
	}

	input.btn {
		width: 100%;
	}
}

table {
  //font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #23627F;
  //border-bottom: 2px solid #23627F;
  tr {
     &:hover {
      background: #f4f4f4;

      td {
        color: #555;
      }
    }
  }
  th, td {
    color: #999;
    border: 1px solid #23627F;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  th {
    background: #23627F;
    color: #fff;
    //text-transform: uppercase;
    font-size: 12px;
    &.last {
      border-right: none;
    }
  }
}

.task-list {
  width: 200px;
}
